.global {
  position: fixed;
}

.contents {
  position: relative;
}

h1 {
  margin: 0;
  color: #faa;
  text-shadow: 4px 4px #00f;
}

label {
  color: #faa;
  text-shadow: 4px 4px #00f;
  margin-right: 1em;
}

input[type='file']::file-selector-button {
  padding: 0.2em 0.4em;
  background-color: #a29bfe;
}

input[type='file']::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

form input {
  font-size: 1em;
}

textarea {
  font-size: 1em;
}
.row {
  display: block;
  margin: 2em;
}

.mygrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-columns: max-content max-content;
}

@media only screen and (max-width: 600px) {
  .form,
  .row,
  .container {
    margin: 0px !important;
  }
  .post {
    padding: 5px !important;
  }
  .spacer {
    margin: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .audiofile {
    width: 100% !important;
  }
}

.form {
  margin: 1em;
}

.error {
  color: #f00;
  text-shadow: 4px 4px #000;
}

button[type='submit'] {
  font-size: 1em;
}

.container {
  margin: 2em;
}

.audiofile {
  width: 50%;
}

.post {
  padding: 2em;
  color: #0f0;
  text-shadow: 2px 2px #000;
  background-image: linear-gradient(red, yellow);
  margin-bottom: 2em;
}

.spacer {
  margin: 3em;
}
